.todo_app {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}
.todo_list li {
  position: relative;
  font-size: 24px;

  border-bottom: 1px solid #ededed;
}
.todo_list li:last-child {
  border-bottom: none;
}

.footer {
  color: #777;
  padding: 10px 15px;
  height: 30px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
.footer:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgb(0 0 0 / 20%);
}
.todo_count {
  float: left;
  text-align: left;
}
.todo_count strong {
  font-weight: 300;
}
.filters {
  position: absolute;
  right: 0;
  left: 0;
}
.filters li {
  display: inline;
}
.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}
