.footer {
  padding: 10px 15px;
  height: 30px;
  border-top: 1px solid #e6e6e6;
}
.footer::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgb(0 0 0 / 20%);
}
.todo_count {
  float: left;
}
.todo_count strong {
  font-weight: 300;
}
.filters {
  position: absolute;
  right: 0;
  left: 0;
}

.filters li {
  display: inline;
  margin-right: 15px;
}
